<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_head'); %>
  </head>
  <body>
    <header>
      <%- include('../partials/_header'); %>
    </header>
    <main>
      <h3>My URLs</h3>
      <table>
        <thead>
          <tr>
            <th scope="col">Short URL</th>
            <th scope="col">Long URL</th>
          </tr>
        </thead>
        <tbody>
          <% for (let url in urls) { %>
            <tr>
              <td><a href='/u/<%= url %>'><%= url %></a></td>
              <td><%= urls[url] %></td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </main>
    <footer>
      <%- include('../partials/_footer'); %>
    </footer>
    </body>
</html>