<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_head'); %>
  </head>

  <body>
    <header>
      <%- include('../partials/_header'); %>
    </header>
    <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
          <h5 class="card-title">TinyURL for: <%= longURL %></h5>
          <p class="card-text">Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
          <form class="form-inline" action="/urls/<%= shortURL %>" method="POST">
            <div class="form-group mb-2">
              <label for="longURL">Edit URL:</label>
              <input class="form-control" type="text" name="longURL" placeholder="http://">
              <button type="edit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      <div class="card-footer text-muted"></div>
    </div>
    <footer>
      <%- include('../partials/_footer'); %>
    </footer>
  </body>
  </html>